# DÉVELOPPEMENT LOCAL
NODE_ENV=development

# Variables de base de données locale
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=
DB_NAME=kpop_db2
DB_PORT=5432

# Clé JWT (générez une clé sécurisée)
JWT_SECRET=votre_cle_jwt_tres_securisee

# Port du serveur
PORT=3000
